
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT3JOvpJuMXozLKY-hPfjCDdEgo78vZok")
script(src='assets/js/vendors~main.bundle.js')
script(src='assets/js/main.bundle.js?v=' + PACKAGE.version)
