.hints {
    z-index: 170;
    position: absolute;
    opacity: 1;

    transition: .4s;
    height: auto;

    bottom: initial;
    right: initial;

    transform: translate(1100%, 550%);

    @media (max-height: 840px), (max-width: 1480px){
        transform: translate(900%, 400%);
    }

    @media (max-height: 610px), (max-width: 1200px){
        right: 4%;
        transform: translateY(390%);
    }

    &--hidden {
        opacity: 0 !important;
        z-index: -5;
    }

    &--profile {
        .hints__message--4 {
            margin-top: auto;
            left: initial;
            bottom: -25%;
            right: -28%;
            width: 200px;

            .hints__message-cloud {
                width: 200px;
                height: 170px;

                p { padding-bottom: 20px }
            }

            .message__next {
                bottom: 10%;
                left: 0;
            }

        }

        .hints__message--5 {
            margin-top: auto;
            left: -5%;
            
            .hints__message-cloud {
                width: 350px;
                height: 270px;

                p { padding-bottom: 20px }
            }

            .message__next {
                bottom: 27%;
                left: 5%;
            }
        }

        .hints__message--6 {
            margin-top: auto;
            left: -5%;
            .hints__message-cloud {
                width: 320px;
                height: 170px;

                p { padding-bottom: 20px }

                margin-bottom: 40px;
                margin-right: 20px;
                
                &--second {
                    width: 306px;
                    height: 161px;

                    position: absolute;
                    top: 45%;
                    right: -5%;
                }
            }
        }
    }

    &--planets {
        transform: translate(1100%, 530%);
        .hints__message--1 {
            .message__next { height: 48px }
        }

        @media (max-height: 840px), (max-width: 1480px) { 
            transform: translate(900%, 380%);
            .message__next {
                span { text-decoration: none }
            }
            .hints__message-cloud { background-size: 80% 80% }
        }

        
        @media (max-height: 610px), (max-width: 1200px){
            transform: translateY(360%);
            right: 4%;
        }
    }
    &--d-none {
        display: none !important;
    }

    & .d-none {
        display: none;
    }

    &__container {
        display: flex;
    }
    
    &__circles {
        padding: 24px 24px 0 0;
        position: relative;
        
        main {
            width: 94px;
            height: 94px;
            background: radial-gradient(73.68% 58.85% at 19.06% 0%, rgba(255, 204, 85, 0) 0%, rgba(255, 204, 85, 0.96) 100%);
    
            border: 1.5px solid $yellow;
            box-sizing: border-box;
            box-shadow: 0px 5px 44px #FFCC55;
            backdrop-filter: blur(16px);
            border-radius: 100px;
        }
    
        a {
            position: absolute;
            color: white;
            font-size: 10px;

            width: 26px;
            height: 26px;

            position: absolute;
            top: 0;
            right: 24px;

            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;

            background: radial-gradient(53.68% 58.85% at 39.06% 0%, rgba(255, 204, 85, 0) 0%, rgba(255, 204, 85, 0.96) 100%);
            border: 1.5px solid $yellow;
            box-sizing: border-box;
            box-shadow: 0px 5px 44px #FFCC55;
            backdrop-filter: blur(16px);
            /* Note: backdrop-filter has minimal browser support */
    
            border-radius: 100px;
        }
    
        &-faq {
            width: 26px;
            height: 26px;

            top: 2px;
            right: 24px;
        }

        &-info {
            top: 24px !important;
            right: 0px !important;
        }
    }

    &__messages {
        position: absolute;
        transform: translate(-84%, -35%);
        height: 260px;
    }

    &__message {
        display: flex;
        flex-direction: column;
        position: relative;

        transition: opacity .6s, transform .6s;
        transform: translateY(-100px);
        opacity: 0;
        z-index: -5;

        font-size: 11px;

        &.is-active {
            position: relative;
            transform: translateY(0);
            opacity: 1;
            z-index: 20;
        }

        &.is-not-active {
            opacity: 1;
            z-index: 20;
        }

        &-cloud {
            background-position: center;
            background-repeat: no-repeat;

            display: flex;
            justify-content: center;

            p {
                font-size: 11px;
                line-height: 140%;

                margin: auto 0;
            }
        }

        .message__next {
            width: fit-content;
            padding-left: 18px;
            padding-right: 18px;
            height: 34px;

            position: absolute;
            bottom: 20%;

            span {
                font-size: 12px;
                line-height: 120%;
                transform: translateY(-1px);
            }

            &::after {
                border-radius: 10px;
            }
        }
        
        &--1 {
            .hints__message-cloud {
                width: 350px;
                height: 270px;

                p { padding-bottom: 20px }
            }
        }

        &--2 {
            .hints__message-cloud {
                width: 350px;
                height: 270px;

                p { padding-bottom: 20px }
            }
        }

        &--3 {
            margin-top: auto;
            left: -5%;
            .hints__message-cloud {
                width: 350px;
                height: 270px;

                p { padding-bottom: 20px }
            }

            .message__next { left: 5% }
        }

        &--4 {
            margin-top: auto;
            left: -5%;
            .hints__message-cloud {
                width: 350px;
                height: 270px;

                p { padding-bottom: 20px }
            }

            .message__next {
                bottom: 18%;
                left: 5%;
            }
        }

        &--5 {
            margin-top: auto;
            left: -5%;
            .hints__message-cloud {
                width: 320px;
                height: 170px;

                p { padding-bottom: 20px }

                margin-bottom: 40px;
                margin-right: 20px;
                
                &--second {
                    width: 306px;
                    height: 161px;

                    position: absolute;
                    top: 45%;
                    right: -5%;
                }
            }
        }

        &--fifth  {
            .hints__message-cloud {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p {
                    margin: initial;
                    padding-bottom: 5px;
                    max-width: 150px;
                    width: 100%;
                    margin: 0 auto 0 65px;
                }

                a {
                    line-height: 160%;
                    font-size: 16px;

                    padding: 8px 16px;
                    margin-bottom: 19px;
                }
            }
        }
        
        &--control {
            .hints__message-cloud {
                width: 344px;
                height: 249px;
            }
            
            .message__next {
                a {
                    font-size: 10px;
                    line-height: 130%;
                    margin-top: 2px;
                }
                bottom: 13%;
            }
        }

        &--planets {
            right: 5%;
            top: -12%;

            .hints__message-cloud {
                height: 300px;

                p {
                    font-size: 12px;
                    @media (max-height: 840px), (max-width: 1480px) { font-size: 10px }
                }
            }

            .message__next {
                bottom: 11%;
                
                span {
                    line-height: 120%;
                    text-decoration: underline dashed;
                    border: none;
                }

                @media (max-height: 840px), (max-width: 1480px) {
                    height: 40px !important;
                    span { font-size: 10px }
                }
            }
        }
    }
}