.modal {
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
    z-index: -10;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    &.modal--open {
        z-index: 200;

        .modal__container {
            width: 808px;
            height: 568px;
        }
    }

    &.modal--close {
        .modal__container {
            width: 0;
            height: 0;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 0;
        height: 0;

        padding: 100px 0 0 0;
        transition: .8s;

        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 100% 100%;
    }

    &__content {
        width: 100%;
        max-width: 552px;

        transition: .4s;
        opacity: 0;

        &.modal__content--open {
            opacity: 1;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-size: 20px;
                font-weight: 700;
            }

            picture {
                border: 2px solid #EBDAFF;
                border-radius: 100%;

                width: 80px;
                height: 80px;
                margin-right: 80px;

                display: flex;
                align-items: center;
                justify-content: center;
                

                img {
                    width: 64px;
                    height: 64px;

                    border-radius: 100%;
                    box-shadow: 0px 16px 40px rgba(70, 23, 164, 0.4);
                }
            }

            .modal-close {
                margin: 20px 10px auto 0;
                transition: .4s;

                &:hover {
                    transform: rotate(180deg);
                }
            }
        }

        main {
            display: flex;
            flex-direction: column;

            margin-top: 8px;
        }

        &-create-btn {
            font-size: 16px;
            line-height: 140%;
            padding: 8px 30px;

            display: flex;
            margin: 20px auto 0;
        }
        
        &-panel {
            display: flex;
            flex-direction: column;

            h2 {
                font-size: 16px;
                margin-bottom: 12px;
            }

            ul {
                display: flex;
                justify-content: space-between;

                margin-bottom: 16px;

                button {
                    display: flex;
                    border-radius: 100%;
                    border: 2px solid transparent;

                    width: 48px;
                    height: 48px;

                    img { border-radius: 100% }

                    &:hover {
                        box-sizing: border-box;
                        border: 2px solid #9062C3;
                        box-shadow: 0px 12px 16px rgba(232, 80, 120, 0.4);
                    }
                }
            }
        }
    }
}

.modal-return-avatar {
    .modal__container {
        padding-top: 140px;
    }

    .modal__content {
        padding: 0 70px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-create-btn {
            font-size: 12px;
            margin-bottom: 10px;
        }

        &-offer-btn {
            font-size: 12px;
            padding: 5px 28px;

            transition: .4s;
            border: 1px solid #2E0D6F;
            border-radius: 100px;

            &:hover {
                background-color: #2E0D6F;
                color: white;
            }
        }
    }

    header {
        flex-direction: column;
        justify-content: center;

        p {
            font-size: 16px;
            text-align: center;
            margin-bottom: 23px;
        }

        picture {
            margin-right: 0;

            img {
                box-shadow: 0px 16px 24px rgba(232, 80, 120, 0.6);
            }
        }
    }
}