.control {
    display: flex;
    width: 100%;

    width: 100%;
    min-width: 1190px;

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        border-radius: 10px;
        background: transparent;
    }

    &__container {
        display: flex;
        flex-direction: column;

        width: 100%;
        padding: 96px 0 0;
        height: fit-content;
    }
    
    &__progress {
        display: flex;
        flex-direction: column;
        position: relative;

        width: 100%;
        height: 282px;
        z-index: 100;

        max-width: 1344px;
        padding: 40px 80px;

        margin-top: 46px;
        margin-bottom: 40px;

        margin-left: auto;
        margin-right: auto;

        @media (max-height: 840px), (max-width: 1480px) {
            width: calc(100% - 52px);
            margin: 20px 26px 0;
        }

        &--message {
            padding: 20px 80px;
            @media (max-height: 840px), (max-width: 1480px) { padding: 34px 80px }
        }

        &-bg {
            position: absolute;
            top: 0;right: 0;bottom: 0;left: 0;

            filter: drop-shadow(0px 12px 80px #E85078);
            width: 100%;
            height: 100%;
        }

        &-message {
            margin: auto auto 0 auto;
            font-size: 16px;

            display: flex;
            align-items: center;
            position: relative;

            padding: 5px 20px;

            b {
                color: white;
                background-color: #9062C3;
                box-shadow: 0px 8px 24px rgba(144, 98, 195, 0.48), inset 0px -4px 8px rgba(51, 25, 81, 0.32);
                border-radius: 100px;
                padding: 7px 8px;

                margin: -5px -20px -5px 12px;
            }

            &::after {
                content: "";
                display: block;

                position: absolute;
                top: 0;bottom: 0;
                right: 0;left: 0;

                border: 1px solid #9062C3;
                border-radius: 7px 15px 25px 9px;
                transform: skew(15deg);
            }
        }

        h2 {
            font-size: 24px;
            font-weight: 700;

            text-align: center;
            color: #2E0D6F;
        }

       ul {
            display: flex;
            justify-content: space-between;

            max-width: 1078px;
            width: 100%;

            padding: 16px 0;
            margin: 0 auto;
            
            @media (max-height: 840px), (max-width: 1480px) { padding: 16px 0 0; max-width: 881px }

            li {
                margin-top: auto;

                &.active {
                    picture {
                        img { filter: drop-shadow(0px 16px 22px #B38EFF) }
                    }
                    h3 { color: #2E0D6F }
                }
                
                picture {
                    max-width: 97px;
                    max-height: 97px;

                    margin: 0 auto;
                    display: flex;

                    img {
                        width: auto;
                        height: auto;
                        filter: saturate(.3) brightness(80%);

                        margin: auto;
                    }
                }

                h3 {
                    margin-top: 8px;
                    font-size: 16px;
                    color: #919191;

                    text-align: center;
                    @media (max-height: 840px), (max-width: 1480px) { font-size: 12px }
                }
                
                &:nth-child(1) {
                    picture {
                        @media (max-height: 840px), (max-width: 1480px) {
                            width: 64px;
                            height: 64px;
                        }
                    }
                }
                &:nth-child(2) {
                    picture {
                        @media (max-height: 840px), (max-width: 1480px) {
                            width: 73px;
                            height: 73px;
                        }
                    }
                }
                &:nth-child(3) {
                    picture {
                        @media (max-height: 840px), (max-width: 1480px) {
                            width: 63px;
                            height: 65px;
                        }
                    }
                }
                &:nth-child(4) {
                    picture {
                        @media (max-height: 840px), (max-width: 1480px) {
                            width: 81px;
                            height: 78px;
                        }
                    }
                }
                &:nth-child(5) {
                    picture {
                        @media (max-height: 840px), (max-width: 1480px) {
                            width: 73px;
                            height: 74px;
                        }
                    }
                }
                &:nth-child(6) {
                    picture {
                        @media (max-height: 840px), (max-width: 1480px) {
                            width: 71px;
                            height: 71px;
                        }
                    }
                }
            }
        }

        &-bar {
            position: relative;
            width: 1184px;
            height: 16px;

            display: flex;
            align-items: center;

            @media (max-height: 840px), (max-width: 1480px) {
                width: 100%;
                height: 100%;
            }

            svg {
                position: absolute;
                width: 100%;
                height: 100%;

                top: 0;bottom: 0;left: 0;right: 0;
            }

            span {
                width: 17%;
                height: 14px;

                position: absolute;
                border-radius: 16px;
                max-width: 100%;

                background-color: $yellow;
                background-image: url('./../img/control/texture-dirt.png');
                background-position: center;
                background-size: 1200px 244px;

                @media (max-height: 840px), (max-width: 1480px) {
                    width: 17%;
                    height: 12px;
                }
            }
        }
    }

    &__launching {
        position: relative;
        padding: 100px 0;
        top: -4%;

        display: flex;
        flex-direction: column;
        color: white;

        width: 100%;
        height: 708px;

        @media (max-height: 840px), (max-width: 1480px) {
            padding: 90px 0px 80px;
            height: 447px;
            box-sizing: content-box;
        }

        &-content {
            &-table {
                display: flex;
                justify-content: space-between;

                padding: 80px 140px 0;
                width: 100%;

                @media (max-height: 840px), (max-width: 1480px) { padding: 80px 125px 0 }
                
                &-item {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: auto auto;

                    position: relative;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    &.active {
                        button { transition: .4s }
                    }

                    img {
                        position: absolute;
                        top: 0;
                        right: 50%;
                        transform: translateY(-50%) translateX(50%);
                        filter: drop-shadow(0px 4px 24px rgba(213, 193, 255, 0.6));
                    }

                    span {
                        color: rgba(255, 255, 255, 0.4);
                        font-size: 16px;
                        line-height: 130%;
                        text-align: center;
                    }

                    &-bg {
                        position: absolute;
                        top: 0;
                        right: 0;left: 0;

                        width: 100%;
                        height: auto;

                        border-radius: 15px;
                    }

                    .control__launching-content-table-item-img-active { opacity: 0 }
                                            
                    &--3 {            
                        .control__launching-content-table-item-img-active {
                            @media (max-height: 840px), (max-width: 1480px) { width: 60% }
                        }
                    }
                    &--1,&--4 {            
                        .control__launching-content-table-item-img-active {
                            top: -5%;
                            @media (max-height: 840px), (max-width: 1480px) {
                                width: 40%;
                                top: -5%;
                            }
                        }
                    }

                    &--2, &--6, &--5 {            
                        .control__launching-content-table-item-img-active {
                            top: -5%;
                            @media (max-height: 840px), (max-width: 1480px) {
                                width: 60%;
                                top: -10%;
                            }
                        }
                    }

                    &--6 {            
                        .control__launching-content-table-item-img-active {
                            @media (max-height: 840px), (max-width: 1480px) { top: -5% }
                        }
                    }

                    button {
                        padding: 5px 16px;
                        position: absolute;

                        display: none;
                        bottom: 4%;

                        &.applied { opacity: 0 }
                        &:disabled { cursor: initial }

                        @media (max-height: 840px), (max-width: 1480px) {
                            bottom: 2%;
                            font-size: 12px;
                        }
                    }

                    &--hover {
                        transition: .4s;
                        & > * { transition: .4s }
                        
                        button {
                            display: flex;
                            opacity: 0;
                        }

                        img { opacity: 0 }
                        .control__launching-content-table-item-img-active { opacity: 1; filter: drop-shadow(0px 12px 24px #D5C1FF) }
                        
                        &:hover {
                            transform: translateY(-20px);
                            box-shadow: 0px 8px 26px rgba(144, 98, 195, 0.7);
                            
                            height: 131px;
                            .control__launching-content-table-item-img-active { filter: initial }

                            button {
                                bottom: 6%;
                                &:not(.applied) { opacity: 1 }
                            }
                                                        
                            &.control__launching-content-table-item--3 {           
                                height: 160px;
                                @media (max-height: 840px), (max-width: 1480px) { height: 148px }
                            }
                            span { color: white; margin-bottom: 10px; }
                        }
                    }

                    &.active {
                        transition: .4s;

                        & > * { transition: .4s }
                        img { opacity: 0 }
                        span { color: white }
                        .control__launching-content-table-item-img-active {
                            opacity: 1;
                            filter: drop-shadow(0px 4px 16px rgba(213, 193, 255, 0.6)); 
                        }
                        .control__launching-content-table-item-bg { transition: .4s }

                        &:hover {
                            box-shadow: 0px 8px 26px rgba(144, 98, 195, 0.7);
                        }
                    }

                    &--1,&--2,&--4,&--5,&--6 {
                        width: 161px;
                        height: 118px;
                        border-radius: 10px;
                        
                        @media (max-height: 840px), (max-width: 1480px) {
                            width: 134px;
                            height: 98px;
                            
                            border-radius: 10px;
                        }
                    }
                    
                    &--3 {
                        width: 245px;
                        height: 134px;
                        
                        border-radius: 14px;
                        img { transform: translateY(-60%) translateX(50%) }
                        .control__launching-content-table-item-img-active { transform: translateY(-50%) translateX(50%) }

                        button { bottom: 5% }

                        @media (max-height: 840px), (max-width: 1480px) {
                            width: 204px;
                            border-radius: 14px;
                            img { transform: translateY(-50%) translateX(50%); width: 55%; }
                            button { bottom: 6% }
                        }
                    } 

                    &--6 {
                        .control__launching-content-table-item-img-active { transform: translateY(-50%) translateX(40%) }
                    }
                }
            }
        }

        &-bg {
            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;bottom: 0;left: 0;right: 0;

            @media (max-height: 840px), (max-width: 1480px) { height: 104% }
        }

        h2 {
            font-size: 24px;
            font-weight: 700;

            text-align: center;
            line-height: 130%;
        }

        main {
            display: flex;
            justify-content: center;
            margin-top: 16px;

            picture {
                position: relative;

                .rocket-part {
                    position: absolute;
                    top: -1%;
                    opacity: 0;

                    width: auto;

                    &.active {
                        opacity: 1;
                    }

                    &--1 {
                        left: 6.5%;
                        z-index: 3;
                    }

                    &--2 {
                        left: 17%;
                        z-index: 2;
                    }

                    &--3 {
                        z-index: 1;
                        left: 34.2%;
                    }

                    &--4 {
                        left: 48%;
                    }

                    &--5 {
                        left: 74%;
                    }

                    &--6 {
                        left: 82.1%;
                    }
                }
            }

            img {
                @media (max-height: 840px), (max-width: 1480px) {
                    width: 64.7vw;
                    height: 14.25VW;
                }
            }

            button {
                display: flex;
                flex-direction: column;
                justify-content: center;

                padding-top: 67px;

                &.active {
                    span {
                        background: rgba(232, 80, 120, 0.6);
                        box-shadow: 0px 4px 40px 16px #E85078;

                        animation: pulsingControl 1s infinite linear;

                        @keyframes pulsingControl {
                            0% {
                                box-shadow: 0px 4px 40px 16px #E85078;
                            }
                            20% {
                                box-shadow: 0px 4px 40px 26px #E85078;
                            }
                            60% {
                                box-shadow: 0px 4px 40px 30px #E85078;
                            }
                            80% {
                                box-shadow: 0px 4px 40px 26px #E85078;
                            }
                            100% {
                                box-shadow: 0px 4px 40px 16px #E85078;
                            }
                        }
                    }
                }

                span {
                    width: 48px;
                    height: 48px;

                    display: block;
                    border-radius: 100%;
                    background: rgba(255, 255, 255, 0.24);
                    border: 2px solid #FFFFFF;

                    display: flex;
                    align-self: center;
                    justify-content: center;

                    svg {
                        margin: auto;
                        padding-left: 1.5px;
                    }

                    @media (max-height: 840px), (max-width: 1480px) {
                        width: 40px;
                        height: 40px;
            
                        svg {
                            width: 12px;
                            height: 12px;
                        }
                    }
                }

                h4 {
                    text-align: center;
                    font-size: 16px;

                    margin-top: 10px;
                    line-height: 140%;
                }
            }
        }
    }

    &__raiting {
        position: relative;
        height: auto;
        top: -6%;

        h2 {
            font-size: 24px;
            font-weight: 700;
            color: white;

            margin-bottom: 27px;
            line-height: 140%;
            text-align: center;
        }

        &-planets {
            display: flex;
            align-items: center;
            padding: 0 80px 10px;

            @media (max-height: 840px), (max-width: 1480px) {
                padding: 0 70px;
            }

            button {
                padding: 7px 16px;
                &:not(:last-child) { margin-right: 4px };

                color: white;
                border: 1px solid white;
                box-sizing: border-box;
                border-radius: 100px;

                font-size: 16px;
                line-height: 140%;
                transition: .4s;

                &.active {
                    background-color: $yellow;
                    background-image: url('./../img/control/texture-dirt.png');
                    background-position: center;
                    background-size: auto auto;

                    border-color: $yellow;
                    color: #2E0D6F;

                    &:hover { background-color: $yellow }
                }

                &:hover { background-color: rgba(255, 255, 255, 0.2) }

                @media (max-height: 840px), (max-width: 1480px) {
                    font-size: 12px;
                    padding: 6px 16px;
                }
            }

            &-inputs {
                width: 287px;
                height: 38px;

                display: flex;
                align-items: center;
                padding: 0 0 0 20px;
                

                position: relative;
                & > * { z-index: 10 }

                input {
                    color: white;
                    padding-left: 4px;
                    margin-right: 20px;
                    width: 100%;
                }

                .search-btn {
                    width: 25px;
                    height: 25px;

                    @media (max-height: 840px), (max-width: 1480px) {
                        width: 20px;
                        height: 20px;
                    }
                }

                .close-btn {
                    display: flex;
                    border: none;
                    padding: 0;
                    
                    margin-right: 22px;
                    transition: .4s;

                    svg {
                        width: 12px;
                        height: 12px;
                    }

                    &:disabled { opacity: 0 }
                    &:hover { background-color: transparent }

                    @media (max-height: 840px), (max-width: 1480px) {
                        svg {
                            width: 8px;
                            height: 8px;
                        }

                        margin-right: 16px;
                    }
                }

                &::after {
                    content: "";
                    display: block;

                    width: 100%;
                    height: 100%;

                    margin-left: 4px;

                    position: absolute;
                    top: 0;bottom: 0;
                    right: 0;left: 0;

                    transform: skew(-0.07turn, 0);
                    border: 1px solid white;
                    border-radius: 5px 35px 5px 15px;
                }

                @media (max-height: 840px), (max-width: 1480px) { height: 30px }
            }
        }

        &-table {
            display: flex;
            flex-direction: column;

            width: 100%;
            height: 420px;

            background-repeat: no-repeat;
            background-position: center;
            background-size: auto auto;

            color: #9062C3;
            padding: 50px 0;

            filter: drop-shadow(0px 12px 80px #E85078);

            @media (max-height: 840px), (max-width: 1480px) {
                padding: 47px 20px 40px 20px;
                height: 360px;
                background-size: 94% 345px;
            }

            svg {
                position: absolute;
                top: 0;bottom: 0;
                right: 0;left: 0;

                width: calc(100% - 90px);
                height: 100%;

                margin: 0 45px;
            }

            header {
                display: grid;
                grid-template-columns: 6.7% 24.4% 23.7% 35% 5%;
                width: auto;

                padding: 0 0 8px 18px;
                margin: 0 36px 16px 56px;
                border-bottom: 1px solid #AB80DC;

                span {
                    font-size: 16px;
                    &:last-child { text-align: right }
                }

                @media (max-height: 840px), (max-width: 1480px) {
                    width: 100%;

                    max-width: 1120px;
                    margin: 0 20px 16px 24px;
                    padding-right: 20px;

                    grid-template-columns: 9.5% 24.7% 23.8% 33% 8%;
                }
            }

            .raiting-table-hint {
                position: absolute;
                transform: translate(110px, -55px);

                padding: 16px 22px 20px;
                transition: .4s;
                width: 283px;

                z-index: -1;
                opacity: 0;
                visibility: hidden;

                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    font-size: 14px;
                    line-height: 150%;
                    width: fit-content;
                    height: fit-content;

                    color: #2E0D6F;
                    width: 100%;
                }

                &::before {
                    content: "";
                    display: block;

                    width: 100%;
                    height: 100%;

                    transform: skew(-8deg);

                    position: absolute;
                    top: 0;bottom: 0;
                    right: 0;left: 0;

                    background-color: #FFF0CB;
                    box-shadow: 0px 12px 40px #FFCC55, inset 0px -4px 8px rgba(225, 162, 14, 0.4);
                    border-radius: 8px;
                }
            }

            ul {
                width: 100%;
                max-width: 1320px;
                
                margin-left: auto;
                margin-right: 50px;
                padding-right: 15px;

                height: 175px;
                overflow-y: scroll;
                position: relative;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    
                    top: -60px;bottom: 0;
                    right: 0;left: 0;

                    width: calc(100% - 15px);
                    height: 600px;

                    background-image: url('./../img/control/raiting-table-long-bg.svg');
                    background-repeat: no-repeat;
                    
                    background-size: 100% 100%;
                    @media (max-height: 840px), (max-width: 1480px) { top: -90px }
                }
                            
                &::-webkit-scrollbar {
                    display: block;
                    width: 10px;

                    margin-left: 10px;
                }

                &::-webkit-scrollbar {
                    width: 5px;
                    border-radius: 10px;

                    @media (max-height: 840px), (max-width: 1480px) { width: 4px }
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    background: transparent;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: #8F62C3;
                    border-radius: 10px;
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: #8F62C3;
                }

                display: flex;
                flex-direction: column;

                // background-image: url('./../img/control/raiting-table-bg.svg');
                // background-repeat: no-repeat;
                // background-position: center;
                // background-size: auto auto;

                border-radius: 8px 32px 8px 8px;
                color: #2E0D6F;

                @media (max-height: 840px), (max-width: 1480px) {
                    max-width: 1090px;
                    margin: 0 25px 0 auto;
                    height: 141px;
                }

                li {
                    display: grid;
                    grid-template-columns: 6.5% 25.9% 25% 34% 8%;
                    align-items: center;
                    padding: 8px 14px;

                    font-size: 16px;
                    font-weight: 400;
                    border-radius: 10px;
                    margin-right: 10px;
                    
                    transition: .4s;
                    line-height: 150%;
                    z-index: 15;

                    position: relative;

                    & > * { z-index: 20 }

                    @media (max-height: 840px), (max-width: 1480px) {
                        font-size: 16px;
                        padding: 0 14px 4px;

                        grid-template-columns: 8% 25.9% 25% 34% 8%;
                    }

                    &.active {
                        color: white;

                        .control__raiting-table-profile {
                            span { border-bottom: 1px dashed rgba(255, 255, 255, 0.5) }
                        }

                        &::after { background-color: #9062C3 }
                        &:hover {
                            &::after { background-color: #2E0D6F }
                        }
                    }

                    &::after {
                        content: "";
                        display: block;

                        width: 100%;
                        height: 100%;

                        transition: .4s;
                        border-radius: 23px 15px 15px 15px;

                        background-color: transparent;
                        transform: skew(6deg, 0);

                        position: absolute;
                        top: 0;bottom: 0;
                        right: 0;left: 0;
                    }

                    &:hover {
                        &::after {
                            background-color: #FFE2AB;
                        }
                    }

                    .control__raiting-table-subdivision span, .control__raiting-table-post span {
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;

                        width: auto;
                        margin-right: 20px;
                    }

                    .control__raiting-table-position {
                        width: 39px;
                        height: 39px;
    
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: auto auto;
                        background-image: url('./../img/control/star.svg');
    
                        display: flex;
                        align-items: center;
    
                        font-size: 16px;
                        font-weight: 500;
                        color: #2E0D6F;

                        padding-top: 1px;
                        padding-left: 4px;
                    }

                    .control__raiting-table-subdivision {
                        position: relative;
                        height: 100%;

                        display: flex;
                        align-items: center;
                        width: fit-content;

                        &:hover {
                            .raiting-table-hint  {
                                z-index: 100;
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }

                    .control__raiting-table-profile {
                        display: flex;
                        align-items: center;

                        img {
                            border: 1px solid white;
                            border-radius: 100%;
                            filter: drop-shadow(0px 3px 6px rgba(70, 23, 164, 0.4));

                            width: 26px;
                            height: 26px;

                            margin-right: 14px;

                            @media (max-height: 840px), (max-width: 1480px) {
                                width: 22px;
                                height: 22px;
                            }
                        }

                        span { border-bottom: 1px dashed #9062C3 }
                    }

                    .control__raiting-table-score {
                        text-align: right; 
                        justify-content: flex-end;
                        @media (max-height: 840px), (max-width: 1480px) { padding-right: 10px }
                    }

                    .control__raiting-table-subdivision, .control__raiting-table-post, .control__raiting-table-score {
                        height: 100%;

                        display: flex;
                        align-items: center;

                        &:hover {
                            .raiting-table-hint  {
                                z-index: 100;
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            footer {
                display: flex;
                max-width: 1280px;
                width: 100%;

                margin-left: auto;
                margin-right: auto;

                padding-top: 13px;
                margin-top: 24px;

                border-top: 1px solid #AB80DC;

                @media (max-height: 840px), (max-width: 1480px) {
                    max-width: 1038px;
                }

                p {
                    font-size: 16px;
                    color: #2E0D6F;
                }

                .control__raiting-table-history-star {
                    display: flex;
                    margin-right: 117px;
                    
                    img {
                        width: 24px;
                        height: 24px;
                    }

                    @media (max-height: 840px), (max-width: 1480px) {  margin-right: 24px }
                }

                .control__raiting-table-history-position {
                    display: flex;

                    span {
                        display: block;

                        width: 19px;
                        height: 19px;

                        background-color: #904DDA;
                        margin-right: 5px;

                        border-radius: 4px 6px 4px 4px;
                    }
                }
            }

            &--notFound {
                height: 490px;
                padding: 50px 82px;
                margin: 5px 0 20px;

                @media (max-height: 840px), (max-width: 1480px) {
                    height: 460px;
                    padding: 70px 80px;

                    display: flex;
                    justify-content: center;
                }

                h4 {
                    text-align: center;
                    font-size: 16px;
                    margin-bottom: 24px;

                    color: #2E0D6F;

                    @media (max-height: 840px), (max-width: 1480px) {
                        margin-bottom: 18px;
                    }
                }

                main {
                    display: flex;
                    flex-direction: column;

                    width: 100%;
                    height: 100%;

                    font-size: 24px;
                    font-weight: 400;

                    b { font-weight: 700 }
                }

                .control__raiting-table-item {
                    &-notFound {
                        color: #2E0D6F;
                        margin: auto;
                    }
                }

                .control__raiting-table--bg {
                    width: calc(100% - 140px);
                    margin: 0 70px;
                }

                header {
                    margin: 0;

                    @media (max-height: 840px), (max-width: 1480px) {
                        margin: 0;
                    }
                }
            }

            &--player {
                height: 490px;
                padding: 50px 90px;
                margin: 5px 0 20px;

                @media (max-height: 840px), (max-width: 1480px) {
                    height: 460px;
                    padding: 40px 90px;

                    display: flex;
                    justify-content: center;
                }
                
                h4 {
                    text-align: center;
                    font-size: 16px;
                    margin-bottom: 24px;

                    color: #2E0D6F;

                    @media (max-height: 840px), (max-width: 1480px) { margin-bottom: 18px }
                }

                .control__raiting-table-item {
                    padding: 30px 58px 38px;
                    display: flex;

                    &-header {
                        display: flex;
                        align-items: center;

                        img {
                            width: 60px;
                            height: 60px;

                            border: 1px solid white;
                            border-radius: 100%;
                            filter: drop-shadow(0px 4px 8px rgba(70, 23, 164, 0.4));

                            margin-right: 30px;
                        }

                        span {
                            font-size: 20px;
                            font-weight: 700;
                            color: #2E0D6F;
                        }
                    }

                    &-main {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        width: 100%;
                        max-width: 592px;
                        margin: 0 auto;

                        main {
                            display: flex;
                            flex-direction: column;

                            h5 {
                                font-size: 12px;
                                color: #9062C3;
                            }

                            span {
                                font-size: 16px;
                                font-weight: 500;
                                color: #2E0D6F;
                            }
                        }
                    }

                    &:not(:last-child) { margin-bottom: 30px }

                    @media (max-height: 840px), (max-width: 1480px) {
                        &:not(:last-child) { margin-bottom: 15px }
                    }

                    &--profile {
                        background-image: url('./../img/control/profile-background.svg');
                        background-repeat: no-repeat;
                        background-size: 100% 100%;

                        background-position: 100% 100%;
                    }

                    &--planet {
                        background-image: url('./../img/control/planet-profile.svg');
                        background-repeat: no-repeat;
                        background-size: 100% 100%;

                        background-position: 100% 100%;

                        .control__raiting-table-item {
                            &-header {
                                img { border: none }
                            }
                        }
                    }
                }
            }

            &--long {
                height: fit-content;
                padding: 90px 0;
                margin-bottom: 20px;

                svg {
                    width: calc(100% - 70px);
                    margin: 18px 40px;
                }

                ul {
                    height: 600px;

                    @media (max-height: 840px), (max-width: 1480px) {
                        height: 500px;
                    }
                }

                @media (max-height: 840px), (max-width: 1480px) {
                    height: 740px;

                    svg {
                        margin: 0 40px;
                    }
                }
            }

            &--small {
                header {
                    grid-template-columns: 7.4% 24.4% 23.7% 35% 5%;
                    margin: 0px 55px 16px 56px;
                }

                svg {
                    width: calc(100% - 70px);
                }
                
                ul {
                    max-width: 1300px;
                    margin-right: 40px;
                    margin-left: 70px;
                }
            }
        }
    }
}

.page__container--control-hd {
    .simplebar-content-wrapper {
        overflow: hidden !important;
    }

    .simplebar-track {
        visibility: hidden !important;
    }
}

.border-text {
    border: 1px solid #2E0D6F;
    padding: 10px;
}