.control {
    display: flex;
    width: 100%;

    width: 100%;
    min-width: 1190px;

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        border-radius: 10px;
        background: transparent;
    }

    &__container {
        display: flex;
        flex-direction: column;

        width: 100%;
        padding: 96px 0 0;
        height: fit-content;
    }
    
    &__progress {
        display: flex;
        flex-direction: column;
        position: relative;

        width: 100%;
        height: 282px;

        max-width: 1344px;
        padding: 40px 80px;

        margin-top: 46px;
        margin-bottom: 40px;

        margin-left: auto;
        margin-right: auto;

        @media (max-height: 840px), (max-width: 1480px) {
            width: calc(100% - 52px);

            margin: 20px 26px 0;
        }

        &-bg {
            position: absolute;
            top: 0;right: 0;bottom: 0;left: 0;

            filter: drop-shadow(0px 12px 80px #E85078);
            width: 100%;
            height: 100%;
        }

        h2 {
            font-size: 24px;
            font-weight: 700;

            text-align: center;
            color: #2E0D6F;
        }

       ul {
            display: flex;
            justify-content: space-between;

            max-width: 1078px;
            width: 100%;

            padding: 16px 0;
            margin: 0 auto;

            li {
                margin-top: auto;

                &.active {
                    picture {
                        img { filter: drop-shadow(0px 16px 22px #B38EFF) }
                    }
                    h3 { color: #2E0D6F }
                }
                picture {
                    max-width: 97px;
                    max-height: 97px;

                    display: flex;

                    img {
                        width: auto;
                        height: auto;

                        margin: auto;
                    }
                }

                h3 {
                    margin-top: 8px;
                    font-size: 16px;
                    color: #919191;
                }
            }
        }

        &-bar {
            position: relative;
            width: 1184px;
            height: 16px;

            display: flex;
            align-items: center;

            @media (max-height: 840px), (max-width: 1480px) {
                width: 100%;
                height: 100%;
            }

            svg {
                position: absolute;
                width: 100%;
                height: 100%;

                top: 0;bottom: 0;left: 0;right: 0;
            }

            span {
                width: 202px;
                height: 16px;

                position: absolute;
                border-radius: 16px;

                background-color: $yellow;
                background-image: url('./../img/control/texture-dirt.png');
                background-position: center;
                background-size: auto auto;

                @media (max-height: 840px), (max-width: 1480px) {
                    width: 17%;
                    height: 54%;
                }
            }
        }
    }

    &__launching {
        position: relative;
        padding: 100px 0;
        top: -4%;

        display: flex;
        flex-direction: column;
        color: white;

        width: 100%;
        height: 708px;

        @media (max-height: 840px), (max-width: 1480px) {
            padding: 90px 0px 100px;
        }

        &-content {
            &-table {
                display: flex;
                justify-content: space-between;

                padding: 80px 140px 0;
                width: 100%;

                @media (max-height: 840px), (max-width: 1480px) {
                    padding: 80px 100px 0;
                }
                
                &-item {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: auto auto;

                    position: relative;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        position: absolute;
                        top: 0;
                        right: 50%;
                        transform: translateY(-50%) translateX(50%);
                    }

                    span {
                        color: rgba(255, 255, 255, 0.4);
                        font-size: 16px;
                        line-height: 140%;
                        text-align: center;
                    }

                    &--1,&--2,&--4,&--5,&--6 {
                        width: 161px;
                        height: 118px;

                        @media (max-height: 840px), (max-width: 1480px) {
                            width: 134px;
                            height: 98px;

                            border-radius: 7px 10px 0px 0px;

                            img {
                                width: 80%;
                                top: -10%;
                            }
                        }
                    }

                    &--3 {
                        width: 245px;
                        height: 134px;

                        img { transform: translateY(-60%) translateX(50%) }

                        @media (max-height: 840px), (max-width: 1480px) {
                            img { transform: translateY(-50%) translateX(50%) }
                        }
                    } 
                }
            }
        }

        &-bg {
            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;bottom: 0;left: 0;right: 0;

            @media (max-height: 840px), (max-width: 1480px) { height: 92% }
        }

        h2 {
            font-size: 24px;
            font-weight: 700;
            text-align: center;
        }

        main {
            display: flex;
            justify-content: center;
            margin-top: 16px;

            img {
                @media (max-height: 840px), (max-width: 1480px) {
                    width: 64.7vw;
                    height: 14.25VW;
                }
            }

            button {
                display: flex;
                flex-direction: column;
                justify-content: center;

                padding-top: 67px;

                span {
                    width: 48px;
                    height: 48px;

                    display: block;
                    border-radius: 100%;
                    background: rgba(255, 255, 255, 0.24);
                    border: 2px solid #FFFFFF;

                    display: flex;
                    align-self: center;
                    justify-content: center;

                    svg {
                        margin: auto;
                        padding-left: 1.5px;
                    }

                    @media (max-height: 840px), (max-width: 1480px) {
                        width: 40px;
                        height: 40px;
            
                        svg {
                            width: 12px;
                            height: 12px;
                        }
                    }
                }

                h4 {
                    text-align: center;
                    font-size: 16px;

                    margin-top: 10px;
                    line-height: 140%;
                }
            }
        }
    }

    &__raiting {
        position: relative;
        height: 400px;
        top: -6%;

        h2 {
            font-size: 24px;
            font-weight: 700;
            color: white;

            margin-bottom: 27px;
            line-height: 140%;
            text-align: center;
        }

        &-planets {
            display: flex;
            align-items: center;
            padding: 0 80px;

            @media (max-height: 840px), (max-width: 1480px) {
                padding: 0 70px;
            }

            button {
                padding: 7px 16px;
                &:not(:last-child) { margin-right: 4px };

                color: white;
                border: 1px solid white;
                border-radius: 100px;

                font-size: 12px;
                line-height: 140%;

                &.active {
                    background-color: $yellow;
                    background-image: url('./../img/control/texture-dirt.png');
                    background-position: center;
                    background-size: auto auto;

                    border: none;
                    color: #2E0D6F;
                }
            }

            &-inputs {
                width: 287px;
                height: 30px;

                display: flex;
                align-items: center;
                padding: 0 0 0 20px;
                margin-left: 11px;

                background-image: url('./../img/control/input-search.svg');
                background-repeat: no-repeat;
                background-position: 100% 100%;
                background-size: 100% 100%;

                input {
                    color: white;
                    padding-left: 4px;
                    margin-right: 20px;
                    width: 100%;
                }
            }
        }

        &-table {
            display: flex;
            flex-direction: column;

            width: 100%;
            height: 420px;

            background-repeat: no-repeat;
            background-position: center;
            background-size: auto auto;
            background-image: url('./../img/control/raiting-bg.svg');

            color: #9062C3;
            padding: 70px 0;

            @media (max-height: 840px), (max-width: 1480px) {
                padding: 40px 20px 40px 20px;
                height: 360px;
                background-size: 107% 430px;
            }

            header {
                display: grid;
                grid-template-columns: 6% 25% 24% 35% 5%;
                width: auto;

                padding: 0 0 8px 8px;
                margin: 0 56px 16px;
                border-bottom: 1px solid #AB80DC;

                @media (max-height: 840px), (max-width: 1480px) {
                    width: 100%;

                    max-width: 1088px;
                    margin: 0 auto 16px;
                }
            }

            ul {
                width: 100%;
                max-width: 1300px;
                
                margin-left: auto;
                margin-right: 76px;

                display: flex;
                flex-direction: column;

                // background-image: url('./../img/control/raiting-table-bg.svg');
                // background-repeat: no-repeat;
                // background-position: center;
                // background-size: auto auto;

                background-color: #FFF7E8;
                border-radius: 8px 32px 8px 8px;
                color: #2E0D6F;

                @media (max-height: 840px), (max-width: 1480px) {
                    max-width: 1050px;
                    margin: 0 auto;
                }

                li {
                    display: grid;
                    grid-template-columns: 5.5% 25.9% 25% 35% 5%;
                    align-items: center;
                    padding: 4px 14px;

                    font-size: 16px;
                    font-weight: 400;
                    line-height: 150%;

                    &.active {
                        background-color: #9062C3;
                        color: white;

                        border-radius: 15px;

                        .control__raiting-table-profile {
                            span { border-bottom: 1px dashed rgba(255, 255, 255, 0.5) }
                        }
                    }

                    .control__raiting-table-position {
                        width: 39px;
                        height: 39px;
    
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: auto auto;
                        background-image: url('./../img/control/star.svg');
    
                        display: flex;
                        align-items: center;
    
                        font-size: 16px;
                        font-weight: 700;
                        color: #2E0D6F;

                        padding-top: 8px;
                        padding-left: 4px;
                        
                    }

                    .control__raiting-table-profile {
                        display: flex;
                        align-items: center;

                        img {
                            border: 1px solid white;
                            border-radius: 100%;
                            filter: drop-shadow(0px 4px 8px rgba(70, 23, 164, 0.4));

                            margin-right: 14px;
                        }

                        span {
                            border-bottom: 1px dashed #9062C3;
                        }
                    }

                    .control__raiting-table-score {
                        text-align: right;
                    }
                }
            }

            footer {
                display: flex;
                max-width: 1280px;
                width: 100%;

                margin-left: auto;
                margin-right: auto;

                padding-top: 13px;
                margin-top: 24px;

                border-top: 1px solid #AB80DC;

                @media (max-height: 840px), (max-width: 1480px) {
                    max-width: 1038px;
                }

                p {
                    font-size: 16px;
                    color: #2E0D6F;
                }

                .control__raiting-table-history-star {
                    display: flex;
                    margin-right: 117px;
                    
                    img {
                        width: 24px;
                        height: 24px;
                    }
                }

                .control__raiting-table-history-position {
                    display: flex;

                    span {
                        display: block;

                        width: 19px;
                        height: 19px;

                        background-color: #904DDA;
                        margin-right: 5px;

                        border-radius: 4px 6px 4px 4px;
                    }
                }
            }
        }
    }
}