.faq {
    padding: 107px 0 0;
    position: relative;

    min-width: 1190px;
    height: 100%;

    &__list {
        margin: 0 auto;
        width: fit-content;
        position: absolute;

        right: 50%;
        transform: translateX(50%) translateY(-5%);

        width: 920px;
        height: 640px;
        padding: 130px 125px 0 110px;

        svg {
            position: absolute;
            top: 0;bottom: 0;right: 0;left: 0;
            width: 100%;
            height: 100%;
        }

        &__content {
            height: 400px;
            overflow-y: scroll;

            -webkit-mask-image: -webkit-linear-gradient(270deg, #9062C3 90%, rgba(144, 98, 195, 0) 98.9%);
            mask-image: linear-gradient(270deg, #9062C3 90%, rgba(144, 98, 195, 0) 98.9%);
            mask-composite: intersect;

            &::-webkit-scrollbar {
                display: block;
                width: 10px;
            }
            
            &::-webkit-scrollbar {
                width: 4px;
                border-radius: 10px;
            }
            
            /* Track */
            &::-webkit-scrollbar-track {
                background: transparent;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #8F62C3;
                border-radius: 10px;
            }
            
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #8F62C3;
            }

            ul {
                width: 100%;
                max-width: 540px;
                margin: 0 auto;

                line-height: 120%;

                li {
                    width: 100%;
                    font-size: 16px;
                    font-weight: 400;

                    text-align: left;

                    &.active {
                        border-bottom: 1.5px solid #9062C3;
                        &:last-child { border-bottom: none }

                        button {
                            border-bottom: none;
                            padding-bottom: 5px;
                        }
                        main {                            
                            height: auto;
                            opacity: 1;

                            padding: 20px 38px 36px;
                            margin-top: 4px;
                            margin-bottom: 14px;

                            width: 101%;
                            position: relative;
                            left: -0.5%;

                            transition: .4s;

                            & > * {
                                padding: 28px 38px;
                                height: auto;
                                opacity: 1;
                            }

                            p {
                                transition: none;
                                line-height: 16px;
                                padding: 0;

                                &:not(:last-child) { margin-bottom: 10px }
                            }
                        }

                        img {
                            transition: .2s;
                            transform: rotate(180deg);
                        }
                    }

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        width: 100%;
                        border-bottom: 1.5px solid #9062C3;

                        padding-bottom: 16px;
                        padding-top: 16px;

                        h2 { line-height: 160% }
                    }

                    img { transition: .2s }

                    main {
                        background-image: url('./../img/faq/faq-desc-bg.svg');
                        background-repeat: no-repeat;
                        background-size: 100% 100%;

                        transition: .1s;

                        height: 0;
                        opacity: 0;

                        & > * {
                            height: 0;
                            opacity: 0;
                            padding: 0;
                        }

                        p {
                            padding: 28px 38px;
                            line-height: 140%;
                            font-size: 12px;
                        }
                    }

                    &.small {
                        main {
                            background-image: url('./../img/faq/faq-bg-2.svg');
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                            background-position: 100% 100%;

                            padding: 24px 24px 32px;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}