.body {
    background: #250630 url(../img/main-stars.png) no-repeat center / cover;
    overflow: auto;
}

.page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.page-focus {
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    transition: .4s;
    
    width: 100%;
    height: 100%;

    opacity: 1;
    z-index: 110;
    background: rgba(70, 23, 164, 0.8);

    &.hidden {
        z-index: -10;
        opacity: 0;
    }

    &--center {
        background: radial-gradient(143.49% 30.16% at 48.13% 47.66%, rgba(70, 23, 164, 0) 45.79%, #4617A4 100%);
        opacity: .7 !important;
    }

    &--left {
        background: radial-gradient(108.32% 67.29% at 18.96% 44.08%, rgba(70, 23, 164, 0) 0%, #4617A4 41.17%);
        opacity: .7 !important;
    }

    &--rightCenter {
        background: radial-gradient(106.29% 56.04% at 65.08% 43.96%, rgba(70, 23, 164, 0) 0%, #4617A4 59.65%);
        opacity: .7 !important;
    }
}

.page__border {
    position: absolute;
    border: 4px solid rgba(101, 59, 148, 0.8);
    border-radius: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 760px;
    height: calc(100% - 40px);
    width: 100%;
    max-width: 1440px;
    min-height: 760px;
    margin: 50px 0;
    overflow: hidden;

    &--hidden {
        .profile { overflow: hidden }
        .page__container { overflow: hidden }
    }

    @media (max-width: 1440px){
        border-radius: 0;
        border-right: none;
        border-left: none;
    }
}

.page__container {
    overflow: auto;
    scroll-behavior: smooth;
    height: 100%;
}

.page-main-bg {
    background: url(../img/main-bg.jpg) no-repeat center / cover;
    &.page-main-dark {
        background: radial-gradient(62.57% 62.57% at 50% 50%, rgba(0, 0, 0, 0) 15.72%, #000000 100%), url(../img/main-bg.jpg) no-repeat center / cover;
    }
}

.main-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bottom-btn {
    position: absolute;
    left: 50%;
    bottom: 48px;
    transform: translateX(-50%);
    z-index: 200;

    transition: .4s;
    opacity: 1;

    clip-path: initial;
    &:after {
        content: "";
        width: 326px;
        height: 326px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -222px;
        background: #4617A4;
        z-index: 1;
        filter: blur(105px);
    }
    .btn { z-index: 10 }
}

.hidden {
    opacity: 0;
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}

[fade-in-preloader] {
    display: none;
}

.new-profile-btn {
    &--animation {
        
        &:hover { box-shadow: inherit }
        animation: pulsing 1.3s infinite linear;

        @keyframes pulsing {
            0% {
                box-shadow: 0px 10px 60px rgba(70, 23, 164, 0.6);
            }
            20% {
                box-shadow: 0px 10px 60px rgba(70, 23, 164, 0.75);
            }
            60% {
                box-shadow: 0px 10px 60px rgba(70, 23, 164, 0.9);
            }
            80% {
                box-shadow: 0px 10px 60px rgba(70, 23, 164, 0.75);
            }
            100% {
                box-shadow: 0px 10px 60px rgba(70, 23, 164, 0.6);
            }
        }
    }
}