.planets {
    width: 100%;
    height: 100%;

    position: relative;

    &__img {
        width: 769px;
        height: 888px;

        position: absolute;
        right: 50%;
        bottom: -50%;

        transform: translateX(50%);

        img {
            width: 100%;
            height: 100%;
        }

        @media (max-height: 840px), (max-width: 1480px) {
            width: 645px;
            height: auto;
        }
    }

    &__table {
        position: relative;
        padding-top: 70px;
        height: 100%;

        &-item {
            position: absolute;

            display: flex;
            align-items: center;
            justify-content: center;

            flex-direction: column;

            &-planet {
                @media (max-height: 840px), (max-width: 1480px) {
                    max-width: 216px;
                }
            }

            &-rocket {
                position: absolute;
                top: -15%;
                right: -14%;

                width: 100%;
                height: 90%;

                &.disabled {
                    opacity: 0;
                    z-index: -10;
                }

                @media (max-height: 840px), (max-width: 1480px) {
                    top: -6%;
                    right: -20%;

                    width: 300px;
                    height: 100%;
                    transform: rotate(24deg);
                }
            }

            &-progress {
                background-color: white;
                border-radius: 100px;
                background-image: url(./../img/control/texture-dirt.png);
                background-position: center;
                background-size: auto auto;

                padding: 3px 8px 5px;
                display: block;
                width: fit-content;

                position: absolute;
                bottom: 7%;

                &--blocked {
                    background-color: transparent;
                    border: 1px solid #9062C3;
                    color: #DBBCFF;
                }

                
                @media (max-height: 840px), (max-width: 1480px) {
                    font-size: 10px;
                    padding: 2px 17px;
                    line-height: 140%;
                }
            }

            &--1 {
                bottom: 5%;
                width: 343px;
                
                .planets__table-item-planet { filter: drop-shadow(0px 4px 64px #E85078) drop-shadow(0px 4px 64px #E85078) }
                .planets__table-item-progress { bottom: 2% }

                @media (max-height: 840px), (max-width: 1480px) {
                    width: 252px;
                }
            }

            &--2 {
                left: 13%;
                bottom: 40%;
            }

            &--3 {
                left: 31%;
                bottom: initial;
                top: 8.75%;
            }

            &--4 {
                top: 8.75%;
                left: 51%;
            }

            &--5 {
                top: initial;
                left: initial;

                bottom: 40%;
                right: 16%;
            }

            &--6 {
                top: initial;
                left: initial;

                bottom: 5%;
                right: 5%;
            }
        }
    }
}