extends _includes/layout

block config
  - var pagetitle = 'Открытые вопросы'
  - var bodyClass = ''
block content
  .page__border
    include _includes/blocks/preloader
    .page.page-main-bg.page-colorfull-bg
    .page.page--main(data-simplebar="")
        .faq(fade-in-preloader) 
            header.header(fade-in-preloader).header--profile
                .container.--flex.--jcsb
                    a.header__logo(href="index.html") 
                        img(src="./assets/img/header/logo.svg", alt="")
                    .header__title
                        a(href="#")
                            <div class="header__back-icon">
                                <span> 
                                    <svg width="14" height="10" viewBox="0 0 14 10" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.53033 8.46967C5.82322 8.76256 5.82322 9.23744 5.53033 9.53033C5.23744 9.82322 4.76256 9.82322 4.46967 9.53033L5.53033 8.46967ZM1 5L0.469671 5.53033C0.176777 5.23744 0.176777 4.76256 0.469671 4.46967L1 5ZM4.46967 0.469671C4.76256 0.176778 5.23744 0.176778 5.53033 0.469671C5.82322 0.762564 5.82322 1.23744 5.53033 1.53033L4.46967 0.469671ZM13 4.25C13.4142 4.25 13.75 4.58579 13.75 5C13.75 5.41421 13.4142 5.75 13 5.75L13 4.25ZM4.46967 9.53033L0.469671 5.53033L1.53033 4.46967L5.53033 8.46967L4.46967 9.53033ZM0.469671 4.46967L4.46967 0.469671L5.53033 1.53033L1.53033 5.53033L0.469671 4.46967ZM1 4.25C2 4.25 5 4.25 7.75 4.25C9.125 4.25 10.4375 4.25 11.4062 4.25C11.8906 4.25 12.2891 4.25 12.5664 4.25C12.7051 4.25 12.8135 4.25 12.8872 4.25C12.9241 4.25 12.9523 4.25 12.9713 4.25C12.9807 4.25 12.9879 4.25 12.9927 4.25C12.9951 4.25 12.997 4.25 12.9982 4.25C12.9988 4.25 12.9992 4.25 12.9995 4.25C12.9997 4.25 12.9998 4.25 12.9999 4.25C13 4.25 13 4.25 13 5C13 5.75 13 5.75 12.9999 5.75C12.9998 5.75 12.9997 5.75 12.9995 5.75C12.9993 5.75 12.9988 5.75 12.9982 5.75C12.997 5.75 12.9951 5.75 12.9927 5.75C12.9879 5.75 12.9808 5.75 12.9713 5.75C12.9523 5.75 12.9241 5.75 12.8872 5.75C12.8135 5.75 12.7051 5.75 12.5664 5.75C12.2891 5.75 11.8906 5.75 11.4062 5.75C10.4375 5.75 9.125 5.75 7.75 5.75C5 5.75 2 5.75 1 5.75L1 4.25Z"></path>
                                    </svg>
                                </span>
                            </div>
                            <div class="header__back-circle">
                                <svg width="3" height="2" viewBox="0 0 3 2" xmlns="http://www.w3.org/2000/svg">
                                    <circle r="0.75" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 1.4502 0.951172)"></circle>
                                </svg>
                            </div>
                            span Вернуться к карте планет 
                    .header__right 
                        a(href="#") 
                            picture
                            main 
                                h3 Игорь Тимофеев
                                span 
                                    em #7 в рейтинге
                                    b 2 536 баллов
            .faq__container 
                h1.g-title FAQ
                    .faq__list 
                        <svg width="920" height="640" viewBox="0 0 920 640" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0_162_985" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="920" height="640">
                            <rect width="920" height="640" fill="url(#paint0_linear_162_985)"/>
                            </mask>
                            <g mask="url(#mask0_162_985)">
                            <path d="M802.693 122.426C802.161 121.524 801.069 120.548 799.295 119.54C797.539 118.542 795.203 117.562 792.304 116.608C786.508 114.701 778.577 112.934 768.789 111.309C749.222 108.061 722.367 105.402 690.621 103.297C627.135 99.0873 544.185 97.0961 461.067 97.0034C377.951 96.9107 294.686 98.7164 230.575 102.098C198.516 103.789 171.262 105.873 151.215 108.309C141.189 109.527 132.988 110.83 126.898 112.211C123.852 112.902 121.355 113.607 119.432 114.323C117.482 115.048 116.223 115.749 115.558 116.381C114.878 117.027 114.153 118.14 113.413 119.784C112.679 121.413 111.96 123.494 111.26 126.012C109.861 131.047 108.561 137.745 107.364 145.884C104.97 162.159 103 184.101 101.444 209.829C98.333 261.278 96.8843 327.79 97.0072 394.222C97.1301 460.653 98.8246 526.985 101.997 578.073C103.584 603.621 105.539 625.337 107.849 641.342C109.004 649.348 110.244 655.899 111.564 660.777C112.225 663.216 112.899 665.215 113.583 666.758C114.275 668.32 114.94 669.33 115.541 669.876C117.841 671.966 122.406 674.098 129.142 676.194C135.834 678.276 144.526 680.283 154.944 682.193C175.777 686.012 203.429 689.431 235.604 692.31C299.951 698.066 382.32 701.655 464.273 701.976C546.231 702.298 627.741 699.351 690.378 692.045C721.703 688.391 748.266 683.651 767.793 677.7C777.559 674.723 785.523 671.456 791.433 667.895C797.36 664.324 801.102 660.527 802.62 656.545C810.413 636.094 815.76 594.913 819.012 543.884C822.261 492.909 823.413 432.255 822.872 372.963C822.331 313.67 820.097 255.757 816.577 210.264C814.818 187.516 812.737 167.888 810.389 152.752C809.215 145.183 807.976 138.752 806.681 133.622C805.379 128.47 804.04 124.708 802.693 122.426Z" fill="url(#paint1_radial_162_985)" fill-opacity="0.96" stroke="#9062C3" stroke-width="2"/>
                            </g>
                            <defs>
                            <linearGradient id="paint0_linear_162_985" x1="460" y1="89.5" x2="460" y2="640" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#C4C4C4"/>
                            <stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/>
                            </linearGradient>
                            <radialGradient id="paint1_radial_162_985" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(460 205.143) rotate(90) scale(535.118 1093.24)">
                            <stop stop-color="#9062C3"/>
                            <stop offset="1" stop-color="#9062C3" stop-opacity="0"/>
                            </radialGradient>
                            </defs>
                        </svg>
                        .faq__list__content 
                            ul
                                li.active
                                    button 
                                        h2 Как начисляются баллы?
                                        img(src="./assets/img/faq/faq.svg", alt="arrow")
                                    main 
                                        p За каждое выполненное задание начисляются баллы, на основе которых формируется общий рейтинг игроков. Участники с высоким рейтингом смогут получить  специальные призы:
                                        p – 15 лучших игроков на каждой планете получат фирменный мерч.
                                        p – 10 игроков в общем зачете получат призы.
                                li
                                    button 
                                        h2 Что я получу за выполнение заданий?
                                        img(src="./assets/img/faq/faq.svg", alt="arrow")
                                    main 
                                        p За каждое выполненное задание начисляются баллы, на основе которых формируется общий рейтинг игроков. Участники с высоким рейтингом смогут получить  специальные призы:
                                        p – 15 лучших игроков на каждой планете получат фирменный мерч.
                                        p – 10 игроков в общем зачете получат призы.
                                li
                                    button 
                                        h2 Сколько попыток в заданиях у меня есть?
                                        img(src="./assets/img/faq/faq.svg", alt="arrow")
                                    main 
                                        p За каждое выполненное задание начисляются баллы, на основе которых формируется общий рейтинг игроков. Участники с высоким рейтингом смогут получить  специальные призы:
                                        p – 15 лучших игроков на каждой планете получат фирменный мерч.
                                        p – 10 игроков в общем зачете получат призы.
                                li
                                    button 
                                        h2 Что будет после прохождения игры?
                                        img(src="./assets/img/faq/faq.svg", alt="arrow")
                                    main 
                                        p За каждое выполненное задание начисляются баллы, на основе которых формируется общий рейтинг игроков. Участники с высоким рейтингом смогут получить  специальные призы:
                                        p – 15 лучших игроков на каждой планете получат фирменный мерч.
                                        p – 10 игроков в общем зачете получат призы.
                                li
                                    button 
                                        h2 Что делать, если игра не работает?
                                        img(src="./assets/img/faq/faq.svg", alt="arrow")
                                    main 
                                        p За каждое выполненное задание начисляются баллы, на основе которых формируется общий рейтинг игроков. Участники с высоким рейтингом смогут получить  специальные призы:
                                        p – 15 лучших игроков на каждой планете получат фирменный мерч.
                                        p – 10 игроков в общем зачете получат призы.
                                li
                                    button 
                                        h2 Сколько попыток в заданиях у меня есть?
                                        img(src="./assets/img/faq/faq.svg", alt="arrow")
                                    main 
                                        p За каждое выполненное задание начисляются баллы, на основе которых формируется общий рейтинг игроков. Участники с высоким рейтингом смогут получить  специальные призы:
                                        p – 15 лучших игроков на каждой планете получат фирменный мерч.
                                        p – 10 игроков в общем зачете получат призы.

                                li
                                    button 
                                        h2 Сколько попыток в заданиях у меня есть?
                                        img(src="./assets/img/faq/faq.svg", alt="arrow")
                                    main 
                                        p За каждое выполненное задание начисляются баллы, на основе которых формируется общий рейтинг игроков. Участники с высоким рейтингом смогут получить  специальные призы:
                                        p – 15 лучших игроков на каждой планете получат фирменный мерч.
                                        p – 10 игроков в общем зачете получат призы.

                                li
                                    button 
                                        h2 Сколько попыток в заданиях у меня есть?
                                        img(src="./assets/img/faq/faq.svg", alt="arrow")
                                    main 
                                        p За каждое выполненное задание начисляются баллы, на основе которых формируется общий рейтинг игроков. Участники с высоким рейтингом смогут получить  специальные призы:
                                        p – 15 лучших игроков на каждой планете получат фирменный мерч.
                                        p – 10 игроков в общем зачете получат призы.

                                li
                                    button 
                                        h2 Сколько попыток в заданиях у меня есть?
                                        img(src="./assets/img/faq/faq.svg", alt="arrow")
                                    main 
                                        p За каждое выполненное задание начисляются баллы, на основе которых формируется общий рейтинг игроков. Участники с высоким рейтингом смогут получить  специальные призы:
                                        p – 15 лучших игроков на каждой планете получат фирменный мерч.
                                        p – 10 игроков в общем зачете получат призы.

                                li
                                    button 
                                        h2 Сколько попыток в заданиях у меня есть?
                                        img(src="./assets/img/faq/faq.svg", alt="arrow")
                                    main 
                                        p За каждое выполненное задание начисляются баллы, на основе которых формируется общий рейтинг игроков. Участники с высоким рейтингом смогут получить  специальные призы:
                                        p – 15 лучших игроков на каждой планете получат фирменный мерч.
                                        p – 10 игроков в общем зачете получат призы.

                                li
                                    button 
                                        h2 Сколько попыток в заданиях у меня есть?
                                        img(src="./assets/img/faq/faq.svg", alt="arrow")
                                    main 
                                        p За каждое выполненное задание начисляются баллы, на основе которых формируется общий рейтинг игроков. Участники с высоким рейтингом смогут получить  специальные призы:
                                        p – 15 лучших игроков на каждой планете получат фирменный мерч.
                                        p – 10 игроков в общем зачете получат призы.

                                li.small
                                    button 
                                        h2 Я не могу найти ответ на свой вопрос? Что мне делать?
                                        img(src="./assets/img/faq/faq.svg", alt="arrow")
                                    main 
                                        p 
                                            span Не нашел ответ на свой вопрос? 
                                            a(href="#") Напиши нам в техподдержку
                                            span , и мы постараемся решить проблему как можно быстрее.
