extends _includes/layout

block config
  - var pagetitle = 'Планеты | Активная'
  - var bodyClass = ''
block content
  .page__border
    include _includes/blocks/preloader
    .page.page-main-bg.page-colorfull-bg
    .page-focus.hidden(fade-in-preloader)
    .page__container
        .planets(fade-in-preloader)(data-simplebar="")
            header.header(fade-in-preloader).header--profile
                .container.--flex.--jcsb
                    a.header__logo(href="index.html") 
                        img(src="./assets/img/header/logo.svg", alt="")
                    .header__title
                    .header__right 
                        a(href="#") 
                            picture
                            main 
                                h3 Игорь Тимофеев
                                span 
                                    em #7 в рейтинге
                                    b 2 536 баллов
            .planets__container 
                .planets__img 
                    img(src="./assets/img/planets/main-control.png", alt="main-control")
                .planets__table 
                    .planets__table-item.planets__table-item--1.planets__table-item--completed
                        img.planets__table-item-planet(src="./assets/img/planets/planet-1.png", alt="planet")
                        img.planets__table-item-rocket(src="./assets/img/planets/active-rocket.png", alt="active-rocket")
                        h1.planets__table-item-title 
                            span Корпоруля
                        span.planets__table-item-progress Задания 0/2 
                        span.planets__table-item-progress.planets__table-item-progress--completed Задания выполнены
                    .planets__table-item.planets__table-item--2.planets__table-item--completed
                        img.planets__table-item-planet(src="./assets/img/planets/planet-2.png", alt="planet")
                        img.planets__table-item-rocket(src="./assets/img/planets/active-rocket.png", alt="active-rocket")
                        h1.planets__table-item-title 
                            span Футурия
                        span.planets__table-item-progress.planets__table-item-progress--blocked Скоро откроется
                        span.planets__table-item-progress.planets__table-item-progress--completed Задания выполнены
                    .planets__table-item.planets__table-item--3.planets__table-item--completed
                        img.planets__table-item-planet(src="./assets/img/planets/planet-3.png", alt="planet")
                        img.planets__table-item-rocket(src="./assets/img/planets/active-rocket.png", alt="active-rocket")
                        h1.planets__table-item-title 
                            span Физиляндия
                        span.planets__table-item-progress.planets__table-item-progress--blocked Скоро откроется
                        span.planets__table-item-progress.planets__table-item-progress--completed Задания выполнены
                    .planets__table-item.planets__table-item--4.planets__table-item--completed
                        img.planets__table-item-planet(src="./assets/img/planets/planet-4.png", alt="planet")
                        img.planets__table-item-rocket(src="./assets/img/planets/active-rocket.png", alt="active-rocket")
                        h1.planets__table-item-title 
                            span Юриляндия
                        span.planets__table-item-progress.planets__table-item-progress--blocked Скоро откроется
                        span.planets__table-item-progress.planets__table-item-progress--completed Задания выполнены
                    .planets__table-item.planets__table-item--5.planets__table-item--completed
                        img.planets__table-item-planet(src="./assets/img/planets/planet-5.png", alt="planet")
                        img.planets__table-item-rocket(src="./assets/img/planets/active-rocket.png", alt="active-rocket")
                        h1.planets__table-item-title 
                            span Военная
                        span.planets__table-item-progress.planets__table-item-progress--blocked Скоро откроется
                        span.planets__table-item-progress.planets__table-item-progress--completed Задания выполнены
                    .planets__table-item.planets__table-item--6.active
                        img.planets__table-item-planet(src="./assets/img/planets/planet-6.png", alt="planet")
                        img.planets__table-item-rocket(src="./assets/img/planets/active-rocket.png", alt="active-rocket")
                        h1.planets__table-item-title 
                            span Порталия
                        span.planets__table-item-progress.planets__table-item-progress--blocked Скоро откроется
                        span.planets__table-item-progress.planets__table-item-progress--completed Задания выполнены