.simplebar-scrollbar:before {
    background-color: #583180 !important;
    opacity: 1 !important;
}
.simplebar-track.simplebar-vertical {
    top: 10px !important;
    width: 11px;
    right: 5px !important;
    bottom: 10px !important;
}

.simplebar-track.simplebar-horizontal {
    left: 10px !important;
    right: 10px !important;
    bottom: 5px !important;
}

.simplebar-wrapper, .simplebar-content {
    scroll-behavior: smooth;
    height: 100% !important;

    & > * {
        scroll-behavior: smooth;
    }
}

.simplebar-content-wrapper {
    scroll-behavior: smooth;
}