.body {
    background: $color-bg;
    color: $color-text;
    font-family: $font-family;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    line-height: $line-height;

    &.--frozen {
        overflow: hidden;
    }
}

.content {
    overflow: hidden;
}

.container {
    max-width: $container-width;
    padding-left: $container-padding-left;
    padding-right: $container-padding-right;
    margin: 0 auto;
    position: relative;
    z-index: 50;
    width: 100%;
}

.hidden {
    opacity: 0;
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}

.content {
    position: relative;
    z-index: 10;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

strong {
    font-weight: bold;
}

::placeholder {
    color: $placeholder;
    transition: .4s;
}

:focus::placeholder {
    opacity: 0;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

img {
    max-width: 100%;
    display: block;
}

form {
    display: block;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: auto;
    margin: 0;
}

.h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.body-text-lg {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.body-text-mid {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.body-text-sm-bold {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

.body-text-sm {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

@media(max-width: 1200px) {
    .body-text-sm {
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
    }
}

.caption {
    font-weight: 400;
    font-size: 8px;
    line-height: 12px
}

.g-title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: white;
    line-height: 120%;
    z-index: 100;
}